<div class="closet-contents">

  <div class="closet-header">
    <div class="closet-header-title">CLOSET</div>
  </div>

  <div class="tab-panel">
    <!--タブ-->
    <div>
      <ul class="tab-group">
        <li class="tab tab-A is-active spring">春</li>
        <li class="tab tab-B summer" >夏</li>
        <li class="tab tab-C autumn">秋</li>
        <li class="tab tab-D winter">冬</li>
        <li class="tab tab-F others">他</li>
      </ul>
    </div>
    
    <!--タブを切り替えて表示するコンテンツ-->
    <div class="panel-group">

      <div class="panel tab-A is-show">

        <div class="tab-contents">
          
          <ul class="tab-list">
            <li class="tab-passive tab-active">アウター</li>
            <li class="tab-passive">トップス</li>
            <li class="tab-passive">ボトムス</li>  
          </ul>
          
          
          <div class="tab-content">
            <div class="tab-box box-show">Content-A</div>
            <div class="tab-box">Content-B</div>
            <div class="tab-box">Content-C</div>
          </div>
        </div>

      </div>

      <div class="panel tab-B">
        <% if @closets.where(genre_id: 1, season_id: 2).present? %>
          <div class="clothes-genre">アウター</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 1, season_id: 2).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 2, season_id: 2).present? %>
          <div class="clothes-genre">トップス</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 2, season_id: 2).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 3, season_id: 2).present? %>
          <div class="clothes-genre">ボトムス</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 3, season_id: 2).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="panel tab-C">
        <% if @closets.where(genre_id: 1, season_id: 3).present? %>
          <div class="clothes-genre">アウター</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 1, season_id: 3).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 2, season_id: 3).present? %>
          <div class="clothes-genre">トップス</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 2, season_id: 3).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 3, season_id: 3).present? %>
          <div class="clothes-genre">ボトムス</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 3, season_id: 3).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>

      <div class="panel tab-D">
        <% if @closets.where(genre_id: 1, season_id: 4).present? %>
          <div class="clothes-genre">アウター</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 1, season_id: 4).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 2, season_id: 4).present? %>
          <div class="clothes-genre">トップス</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 2, season_id: 4).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 3, season_id: 4).present? %>
          <div class="clothes-genre">ボトムス</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 3, season_id: 4).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="panel tab-F">
        <% if @closets.where(genre_id: 4, season_id: 5).present? %>
          <div class="clothes-genre">キャップ</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 4, season_id: 5).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 5, season_id: 5).present? %>
          <div class="clothes-genre">シューズ</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 5, season_id: 5).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @closets.where(genre_id: 6, season_id: 5).present? %>
          <div class="clothes-genre">バッグ</div>
          <div class="genre-images">
            <% @closets.where(genre_id: 6, season_id: 5).each do |closet| %>
              <div class="genre-image">
                <%= link_to closet_path(closet.id), remote: true do %>
                  <%= image_tag closet.image %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="page-footer"></div>
  
</div>

<div id="mask" class="hidden"></div>
<div id="modal" class="hidden">
  <p>モーダルウィンドウ<p>
</div>