<div class="closet-contents">

  <div class="closet-header">
    <div class="closet-header-title">CLOSET</div>
  </div>

  <div class="tab-panel">
    <!--タブ-->
    <ul class="tab-group">
      <li class="tab tab-A is-active spring">春</li>
      <li class="tab tab-B summer" >夏</li>
      <li class="tab tab-C autumn">秋</li>
      <li class="tab tab-D winter">冬</li>
      <li class="tab tab-F others">他</li>
    </ul>
    
    <!--タブを切り替えて表示するコンテンツ-->
    <div class="panel-group">

      <div class="panel tab-A is-show">

        <div class="tab-contents">
          
          <div class="tab-lists">
            <ul class="tab-list">
              <li class="tab-passive tab-active">アウター</li>
              <li class="tab-passive">/ トップス</li>
              <li class="tab-passive">/ ボトムス</li>  
            </ul>
          </div>
          
          <div class="tab-content">
            <div class="tab-box box-show">
              <div class="genre-images">
                <% @closets.where(genre_id: 1, season_id: 1).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 2, season_id: 1).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 3, season_id: 1).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="panel tab-B">
        
        <div class="tab-contents">
          
          <div class="tab-lists">
            <ul class="tab-list">
              <li class="tab-passive tab-active">アウター</li>
              <li class="tab-passive">/ トップス</li>
              <li class="tab-passive">/ ボトムス</li>  
            </ul>
          </div>
          
          <div class="tab-content">
            <div class="tab-box box-show">
              <div class="genre-images">
                <% @closets.where(genre_id: 1, season_id: 2).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 2, season_id: 2).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 3, season_id: 2).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="panel tab-C">
        
        <div class="tab-contents">
          
          <div class="tab-lists">
            <ul class="tab-list">
              <li class="tab-passive tab-active">アウター</li>
              <li class="tab-passive">/ トップス</li>
              <li class="tab-passive">/ ボトムス</li>  
            </ul>
          </div>
          
          <div class="tab-content">
            <div class="tab-box box-show">
              <div class="genre-images">
                <% @closets.where(genre_id: 1, season_id: 3).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 2, season_id: 3).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 3, season_id: 3).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="panel tab-D">

        <div class="tab-contents">
          
          <div class="tab-lists">
            <ul class="tab-list">
              <li class="tab-passive tab-active">アウター</li>
              <li class="tab-passive">/ トップス</li>
              <li class="tab-passive">/ ボトムス</li>  
            </ul>
          </div>
          
          <div class="tab-content">
            <div class="tab-box box-show">
              <div class="genre-images">
                <% @closets.where(genre_id: 1, season_id: 4).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 2, season_id: 4).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 3, season_id: 4).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="panel tab-F">
        
        <div class="tab-contents">
          
          <div class="tab-lists">
            <ul class="tab-list">
              <li class="tab-passive tab-active">キャップ</li>
              <li class="tab-passive">/ シューズ</li>
              <li class="tab-passive">/ バッグ</li>  
            </ul>
          </div>
          
          <div class="tab-content">
            <div class="tab-box box-show">
              <div class="genre-images">
                <% @closets.where(genre_id: 4, season_id: 5).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 5, season_id: 5).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-box">
              <div class="genre-images">
                <% @closets.where(genre_id: 6, season_id: 5).each do |closet| %>
                  <div class="genre-image">
                    <%= link_to closet_path(closet.id), remote: true do %>
                      <%= image_tag closet.image %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="page-footer"></div>
  
</div>

<div id="mask" class="hidden"><span id="closeBtn"></span></div>
<div id="modal" class="hidden">
  <p>モーダルウィンドウ<p>
</div>