<div class="stats-title">統計</div>
<div class="stats-contents">
  <div>

    <div class="tab-panel panel-width">
    
      <div>
        <ul class="tab-group">
          <li class="tab tab-A is-active spring">春</li>
          <li class="tab tab-B summer" >夏</li>
          <li class="tab tab-C autumn">秋</li>
          <li class="tab tab-D winter">冬</li>
        </ul>
      </div>

      <div class="panel-group">
        <div class="panel tab-A is-show">
          <div class="panel-category">カテゴリー</div>
          <%= pie_chart @closets.where(season_id: 1).group(:genre_id).count, legend: false, colors: [ "#cd7693","#eab9c9","#f2d6df"]%>
          <div class="item-count">アイテム数</div>
          <% if @closets.where(season_id: 1, genre_id: 1).present? %>
            <div class="category-count"><span class="spring1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 1).length}" %></div>
          <% end %>
          <% if @closets.where(season_id: 1, genre_id: 2).present? %>
            <div class="category-count">
            <% if @closets.where(season_id: 1, genre_id: 1).blank? %>
            <span class="spring1">●</span>
            <% else %>
            <span class="spring2">●</span>
            <% end %>
            <%= "トップス：#{@closets.where(genre_id: 2, season_id: 1).length}" %>
            </div>
          <% end %>
          <% if @closets.where(season_id: 1, genre_id: 3).present? %>
            <div class="category-count">
              <% if @closets.where(season_id: 1, genre_id: 1).blank? && @closets.where(season_id: 1, genre_id: 2).blank? %>
              <span class="spring1">●</span>
              <% elsif @closets.where(season_id: 1, genre_id: 1).blank? || @closets.where(season_id: 1, genre_id: 2).blank? %>
              <span class="spring2">●</span>
              <% else %>
              <span class="spring3">●</span>
              <% end %>
              <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 1).length}" %>
            </div>
          <% end %>
        </div>
        <div class="panel tab-B">
          <div class="panel-category">カテゴリー</div>
          <%= pie_chart @closets.where(season_id: 2).group(:genre_id).count, legend: false, colors: [ "#76cd76","#b9eaba","#d6f2d6"] %>
          <div class="item-count">アイテム数</div>
          <% if @closets.where(season_id: 2, genre_id: 1).present? %>
            <div class="category-count"><span class="summer1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 2).length}" %></div>
          <% end %>
          <% if @closets.where(season_id: 2, genre_id: 2).present? %>
            <div class="category-count">
            <% if @closets.where(season_id: 2, genre_id: 1).blank? %>
            <span class="summer1">●</span>
            <% else %>
            <span class="summer2">●</span>
            <% end %>
            <%= "トップス：#{@closets.where(genre_id: 2, season_id: 2).length}" %>
            </div>
          <% end %>
          <% if @closets.where(season_id: 2, genre_id: 3).present? %>
            <div class="category-count">
              <% if @closets.where(season_id: 2, genre_id: 1).blank? && @closets.where(season_id: 2, genre_id: 2).blank? %>
              <span class="summer1">●</span>
              <% elsif @closets.where(season_id: 2, genre_id: 1).blank? || @closets.where(season_id: 2, genre_id: 2).blank? %>
              <span class="summer2">●</span>
              <% else %>
              <span class="summer3">●</span>
              <% end %>
              <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 2).length}" %>
            </div>
          <% end %>
        </div>
        <div class="panel tab-C">
          <div class="panel-category">カテゴリー</div>
          <%= pie_chart @closets.where(season_id: 3).group(:genre_id).count, legend: false, colors: [ "#cd9376","#eac9b9","#f2dfd6"] %>
          <div class="item-count">アイテム数</div>
          <% if @closets.where(season_id: 3, genre_id: 1).present? %>
            <div class="category-count"><span class="autumn1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 3).length}" %></div>
          <% end %>
          <% if @closets.where(season_id: 3, genre_id: 2).present? %>
            <div class="category-count">
            <% if @closets.where(season_id: 3, genre_id: 1).blank? %>
            <span class="autumn1">●</span>
            <% else %>
            <span class="autumn2">●</span>
            <% end %>
            <%= "トップス：#{@closets.where(genre_id: 2, season_id: 3).length}" %>
            </div>
          <% end %>
          <% if @closets.where(season_id: 3, genre_id: 3).present? %>
            <div class="category-count">
              <% if @closets.where(season_id: 3, genre_id: 1).blank? && @closets.where(season_id: 3, genre_id: 2).blank? %>
              <span class="autumn1">●</span>
              <% elsif @closets.where(season_id: 3, genre_id: 1).blank? || @closets.where(season_id: 3, genre_id: 2).blank? %>
              <span class="autumn2">●</span>
              <% else %>
              <span class="autumn3">●</span>
              <% end %>
              <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 3).length}" %>
            </div>
          <% end %>
        </div>
        <div class="panel tab-D">
          <div class="panel-category">カテゴリー</div>
          <%= pie_chart @closets.where(season_id: 4).group(:genre_id).count, legend: false, colors: [ "#769fcd","#b9d7ea","#d6e6f2"]%>
          <div class="item-count">アイテム数</div>
          <% if @closets.where(season_id: 4, genre_id: 1).present? %>
            <div class="category-count"><span class="winter1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 4).length}" %></div>
          <% end %>
          <% if @closets.where(season_id: 4, genre_id: 2).present? %>
            <div class="category-count">
            <% if @closets.where(season_id: 4, genre_id: 1).blank? %>
            <span class="winter1">●</span>
            <% else %>
            <span class="winter2">●</span>
            <% end %>
            <%= "トップス：#{@closets.where(genre_id: 2, season_id: 4).length}" %>
            </div>
          <% end %>
          <% if @closets.where(season_id: 4, genre_id: 3).present? %>
            <div class="category-count">
              <% if @closets.where(season_id: 4, genre_id: 1).blank? && @closets.where(season_id: 4, genre_id: 2).blank? %>
              <span class="winter1">●</span>
              <% elsif @closets.where(season_id: 4, genre_id: 1).blank? || @closets.where(season_id: 4, genre_id: 2).blank? %>
              <span class="winter2">●</span>
              <% else %>
              <span class="winter3">●</span>
              <% end %>
              <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 4).length}" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>

  <div class="stats-right">
    <div class="date"><%= "クローゼット総資産額：¥#{@closets.sum(:price)}"%></div>
    <div class="date"><%= "アイテム平均価格：¥#{@closets.sum(:price).fdiv(@closets.length).round}"%></div>
    <div class="date"><%= "アイテム最高価格：¥#{@closets.maximum(:price)}"%></div>
    <div class="date"><%= "所持アイテム数：#{@closets.length}"%></div>
  </div>

</div>