<div class="stats-title">統計</div>
<div class="stats-contents">
  <div>

    <div class="tab-panel panel-width">
    
      <div>
        <ul class="tab-group">
          <li class="tab tab-A is-active spring">春</li>
          <li class="tab tab-B summer" >夏</li>
          <li class="tab tab-C autumn">秋</li>
          <li class="tab tab-D winter">冬</li>
        </ul>
      </div>

      <div class="panel-group panel-height">
        <div class="panel tab-A is-show">
          <div class="panel-category">カテゴリー</div>
          
          <div class="canvas-area">
            <div class="canvas"><%= pie_chart @closets.where(season_id: 1).group(:genre_id).count, legend: false, colors: [ "#cd7693","#eab9c9","#f2d6df"]%></div>
            <div class="canvas-content">
              <div class="item-count">アイテム数</div>
              <% if @closets.where(season_id: 1, genre_id: 1).present? %>
                <div class="category-count"><span class="spring1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 1).length}" %></div>
              <% end %>
              <% if @closets.where(season_id: 1, genre_id: 2).present? %>
                <div class="category-count">
                <% if @closets.where(season_id: 1, genre_id: 1).blank? %>
                <span class="spring1">●</span>
                <% else %>
                <span class="spring2">●</span>
                <% end %>
                <%= "トップス：#{@closets.where(genre_id: 2, season_id: 1).length}" %>
                </div>
              <% end %>
              <% if @closets.where(season_id: 1, genre_id: 3).present? %>
                <div class="category-count">
                  <% if @closets.where(season_id: 1, genre_id: 1).blank? && @closets.where(season_id: 1, genre_id: 2).blank? %>
                  <span class="spring1">●</span>
                  <% elsif @closets.where(season_id: 1, genre_id: 1).blank? || @closets.where(season_id: 1, genre_id: 2).blank? %>
                  <span class="spring2">●</span>
                  <% else %>
                  <span class="spring3">●</span>
                  <% end %>
                  <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 1).length}" %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="favorite-title desc">着用回数が多いアイテム</div>
          <div class="stats-images">
          <% @favorite_desc_spring.each do |closet| %>
            <div>
            <div class="stats-image"><%= image_tag closet.image %></div>
            <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
            </div>
          <% end %>
          </div>
          <div class="favorite-title">着用回数が少ないアイテム</div>
          <div class="stats-images">
          <% @favorite_asc_spring.each do |closet| %>
            <div>
            <div class="stats-image"><%= image_tag closet.image %></div>
            <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
            </div>
          <% end %>
          </div>

        </div>
        <div class="panel tab-B">

          <div class="canvas-area">
            <div class="panel-category">カテゴリー</div>
            <div class="canvas"><%= pie_chart @closets.where(season_id: 2).group(:genre_id).count, legend: false, colors: [ "#76cd76","#b9eaba","#d6f2d6"] %></div>
            <div class="canvas-content">
              <div class="item-count">アイテム数</div>
              <% if @closets.where(season_id: 2, genre_id: 1).present? %>
                <div class="category-count"><span class="summer1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 2).length}" %></div>
              <% end %>
              <% if @closets.where(season_id: 2, genre_id: 2).present? %>
                <div class="category-count">
                <% if @closets.where(season_id: 2, genre_id: 1).blank? %>
                <span class="summer1">●</span>
                <% else %>
                <span class="summer2">●</span>
                <% end %>
                <%= "トップス：#{@closets.where(genre_id: 2, season_id: 2).length}" %>
                </div>
              <% end %>
              <% if @closets.where(season_id: 2, genre_id: 3).present? %>
                <div class="category-count">
                  <% if @closets.where(season_id: 2, genre_id: 1).blank? && @closets.where(season_id: 2, genre_id: 2).blank? %>
                  <span class="summer1">●</span>
                  <% elsif @closets.where(season_id: 2, genre_id: 1).blank? || @closets.where(season_id: 2, genre_id: 2).blank? %>
                  <span class="summer2">●</span>
                  <% else %>
                  <span class="summer3">●</span>
                  <% end %>
                  <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 2).length}" %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="favorite-title desc">着用回数が多いアイテム</div>
          <div class="stats-images">
          <% @favorite_desc_summer.each do |closet| %>
            <div>
            <div class="stats-image"><%= image_tag closet.image %></div>
            <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
            </div>
          <% end %>
          </div>
          <div class="favorite-title">着用回数が少ないアイテム</div>
          <div class="stats-images">
          <% @favorite_asc_summer.each do |closet| %>
            <div>
            <div class="stats-image"><%= image_tag closet.image %></div>
            <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
            </div>
          <% end %>
          </div>

        </div>
        <div class="panel tab-C">

          <div class="canvas-area">
            <div class="panel-category">カテゴリー</div>
            <div class="canvas"><%= pie_chart @closets.where(season_id: 3).group(:genre_id).count, legend: false, colors: [ "#cd9376","#eac9b9","#f2dfd6"] %></div>
            <div class="canvas-content">
              <div class="item-count">アイテム数</div>
              <% if @closets.where(season_id: 3, genre_id: 1).present? %>
                <div class="category-count"><span class="autumn1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 3).length}" %></div>
              <% end %>
              <% if @closets.where(season_id: 3, genre_id: 2).present? %>
                <div class="category-count">
                <% if @closets.where(season_id: 3, genre_id: 1).blank? %>
                <span class="autumn1">●</span>
                <% else %>
                <span class="autumn2">●</span>
                <% end %>
                <%= "トップス：#{@closets.where(genre_id: 2, season_id: 3).length}" %>
                </div>
              <% end %>
              <% if @closets.where(season_id: 3, genre_id: 3).present? %>
                <div class="category-count">
                  <% if @closets.where(season_id: 3, genre_id: 1).blank? && @closets.where(season_id: 3, genre_id: 2).blank? %>
                  <span class="autumn1">●</span>
                  <% elsif @closets.where(season_id: 3, genre_id: 1).blank? || @closets.where(season_id: 3, genre_id: 2).blank? %>
                  <span class="autumn2">●</span>
                  <% else %>
                  <span class="autumn3">●</span>
                  <% end %>
                  <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 3).length}" %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="favorite-title desc">着用回数が多いアイテム</div>
          <div class="stats-images">
            <% @favorite_desc_autumn.each do |closet| %>
              <div>
              <div class="stats-image"><%= image_tag closet.image %></div>
              <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
              </div>
            <% end %>
          </div>
          <div class="favorite-title">着用回数が少ないアイテム</div>
          <div class="stats-images">
            <% @favorite_asc_autumn.each do |closet| %>
              <div>
              <div class="stats-image"><%= image_tag closet.image %></div>
              <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel tab-D">

          <div class="canvas-area">
            <div class="panel-category">カテゴリー</div>
            <div class="canvas"><%= pie_chart @closets.where(season_id: 4).group(:genre_id).count, legend: false, colors: [ "#769fcd","#b9d7ea","#d6e6f2"]%></div>
            <div class="canvas-content">
              <div class="item-count">アイテム数</div>
              <% if @closets.where(season_id: 4, genre_id: 1).present? %>
                <div class="category-count"><span class="winter1">●</span><%= "アウター：#{@closets.where(genre_id: 1, season_id: 4).length}" %></div>
              <% end %>
              <% if @closets.where(season_id: 4, genre_id: 2).present? %>
                <div class="category-count">
                <% if @closets.where(season_id: 4, genre_id: 1).blank? %>
                <span class="winter1">●</span>
                <% else %>
                <span class="winter2">●</span>
                <% end %>
                <%= "トップス：#{@closets.where(genre_id: 2, season_id: 4).length}" %>
                </div>
              <% end %>
              <% if @closets.where(season_id: 4, genre_id: 3).present? %>
                <div class="category-count">
                  <% if @closets.where(season_id: 4, genre_id: 1).blank? && @closets.where(season_id: 4, genre_id: 2).blank? %>
                  <span class="winter1">●</span>
                  <% elsif @closets.where(season_id: 4, genre_id: 1).blank? || @closets.where(season_id: 4, genre_id: 2).blank? %>
                  <span class="winter2">●</span>
                  <% else %>
                  <span class="winter3">●</span>
                  <% end %>
                  <%= "ボトムス：#{@closets.where(genre_id: 3, season_id: 4).length}" %>
                </div>
              <% end %>
            </div>
          </div>

            <div class="favorite-title desc">着用回数が多いアイテム</div>
            <div class="stats-images">
              <% @favorite_desc_winter.each do |closet| %>
                <div>
                <div class="stats-image"><%= image_tag closet.image %></div>
                <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
                </div>
              <% end %>
              </div>
              <div class="favorite-title">着用回数が少ないアイテム</div>
              <div class="stats-images">
              <% @favorite_asc_winter.each do |closet| %>
                <div>
                <div class="stats-image"><%= image_tag closet.image %></div>
                <div class="stats-count"><%= "#{closet.favorites.count}回" %></div>
                </div>
              <% end %>
            </div>

        </div>
      </div>

    </div>

  </div>

  <div class="stats-right">
    <div class="date"><%= "クローゼット総資産額：¥#{@closets.sum(:price)}"%></div>
    <div class="date"><%= "アイテム平均価格：¥#{@closets.sum(:price).fdiv(@closets.count).round}"%></div>
    <div class="date"><%= "アイテム最高価格：¥#{@closets.maximum(:price)}"%></div>
    <div class="date bottom"><%= "所持アイテム数：#{@closets.length}"%></div>
    <div class="date"><%= "今月の使用額：¥#{@closets_month.sum(:price)[Date.today.month]}"%></div>
    
    <%#<div class="date"><%= "今月のアイテム最高価格：¥#{@closets_month.maximum(:price)[Date.today.month]}"</div>%>
    <div class="date"><%= "今月の保管アイテム数：#{@closets_month.count[Date.today.month]}"%></div>
  </div>

</div>
<div class="page-footer"></div>