<div class="user-form-content">      
  <div class="user-form-title">新規アカウントの作成</div>
  <div class='user-form'>
    <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class='user-form-input'>
        <%= f.text_field :name, placeholder: "ニックネーム", autofocus: true%>
      </div>
      <div class='user-form-input'>
        <%= f.email_field :email, placeholder: "メールアドレス"%>
      </div>
      <div class='user-form-input'>
        <%= f.password_field :password, placeholder: "パスワード(英数字6文字以上)", autocomplete: "off"%>
      </div>
      <div class='user-form-input'>
        <%= f.password_field :password_confirmation, placeholder: "パスワードの再入力", autocomplete: "off"%>
      </div>
      <div class='user-form-btn new'>
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
    <div class="sign-in m"><%= link_to "既存のアカウントでログイン", new_session_path(resource_name) %></div>
  </div>
</div>