<div class="user-form-content">
<% if current_user.email == 'guest@email'%>
  <p>ゲストユーザーはユーザー情報の編集ができません。</p>
<% else %>
  <div class="user-form-title">アカウントの編集</div>
  <div class='user-form'>
    <%= form_with model: current_user, local: true do |f|%>
      <%= render 'shared/error_messages', model: f.object %>
      <div class='user-form-input'>
        <%= f.text_field :name, placeholder: "ニックネーム", autofocus: true%>
      </div>
      <div class='user-form-input'>
        <%= f.email_field :email, placeholder: "メールアドレス"%>
      </div>
      <div class='user-form-select'>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
      </div>
      <div class='user-form-btn new'>
        <%= f.submit "更新する" %>
      </div>
    <% end %>
    <div class="sign-in o"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%></div>
  </div>
<% end %>
</div>