<div class="calendar-contents">

  <div class="calendar-title">コーディネート</div>

  <%= render "weather" %>

  <div class="calendar-new">
  <%= render partial: "new", locals: { calendar: @calendar }%>
  </div>

  <%= week_calendar events: @calendars do |date, calendars| %>
    <div class="date-area">
      <div class="calendar-date"><%= "#{date.month}/#{date.day}" %></div>

      <% calendars.each do |calendar| %>
      <%= link_to calendar_path(calendar.id), method: :delete, data: { confirm: "削除しますか？" } do %>
        <%= image_tag calendar.image[0], class: "main-image" %>
      <% end %>
      <div class="other-images">
        <% calendar.image[1..-1].each do |image| %>
          <div class="other-image">
            <%= image_tag image %>
          </div>
        <%end%>
      </div>
      <% end %>
        
    </div>
  <% end %>

  <div class="page-footer"></div>

</div>