      <%#= render "devise/shared/links"%>
    <div class='sign-in-content'>
      <div class="sign-in-title">メールアドレスでログイン</div>
      <div class="sign-in-form">
        <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
            <div class='sign-in-input'>
              <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true%>
            </div>
            <div class='sign-in-input'>
              <%= f.password_field :password, placeholder: "パスワード(英数字6文字以上)", autocomplete: "off"%>
            </div>
            <div class='sign-in-btn'>
              <%= f.submit "ログイン", class: 'btn'%>
            </div>
        <% end %>
        <div class="others-sign-in">または</div>
        <div class="sign-in m"><%= link_to "メールアドレスで新規登録", new_registration_path(resource_name) %></div>
        <div class="others-account">他のアカウントでログイン</div>
        <div class="sign-in g"><%= link_to "ゲストログイン", "#" %></div>
        <div class="sign-in t"><%= link_to "Twitterでログイン", "#" %></div>
      </div>
    </div>