<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <% if user_signed_in? %>
    <div class="header-menu">
      <div class="header-title"><%= link_to "タイトル", root_path %></div>

      <div class="header-right"><%= link_to image_tag("user.png"), edit_user_path(current_user) %></div>
    </div>
    <% end %>
  </header>

  <body>
    <div class="body">
    <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <% if user_signed_in? %>
    <div class="footer-menu">
      <div><%= link_to image_tag("closet.png"), root_path %></div>
      <div><%= link_to image_tag("clothes.png"), new_closet_path %></div>
      <div><%= link_to image_tag("memo.png"), calendars_path %></div>
      <div><%= link_to image_tag("graph.png"), stats_closets_path %></div>
    </div>
    <% end %>
  </footer>
</html>
